// variables con  @ en less
@yellow: #dbceab;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color: @yellow;
    color: black;
    //margin-top: 50px;
    .margenes(50px, 0px)
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orchid;
    //margin-bottom: 0px;
    //margin-top: 10px;
    .margenes(10px, 0px)
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}